<%- include("partials/header", { bot, user, path, title: "Select server" }) %>

<div class="dashboard">
  <% user.guilds.forEach(guild => {
      const permissions = new perms(BigInt(guild.permissions))
      if (!permissions.has("ManageGuild")) return%>

    <div class="card">
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}?size=512" class="card-img">` : `<img src="/unknown.png" class="card-img">` %>
      <div class="card-body">
        <h2><%= guild.name %></h5>
        <% if (bot.guilds.cache.get(guild.id)) { %>
          <p>Edit <b><%= guild.name %></b>'s settings via the dashboard by clicking the button below.</p>
          <a style="margin-top: auto;" href="/dashboard/<%- guild.id %>" class="secondary-button">Edit Settings</a>
        <% } else { %>
          <p>Invite the bot to <%= guild.name %> in order to their this server's settings via the dashboard by clicking the button below.</p>
          <a style="margin-top: auto;" href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&guild_id=${guild.id}&response_type=code` %>" class="primary-button">Invite Bot</a>
        <% } %>
        <div class="card-bg"></div>
      </div>
    </div>
  <%
      });
  %>
</div>

<%- include("partials/footer") %>
