<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/amayi.png">
</head>
<body>
  <nav>
    <div class="logo">
      <img class="logoface" src="/amayi.png" alt="logo">
      <a href="/">
        <h2 class="sitename">Amayi</h2>
      </a>
    </div>

    <input type="checkbox" id="hamburger-box">
    <div class="ham-menu">
      <label id="hamburger" for="hamburger-box">
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="menu hide">
      <a class="menu-item" href="/features">Features</a>
      <a class="menu-item" href="https://github.com/vulpic/amayi" target="_blank">GitHub</a>
      <% if (user) { %>
        <a class="menu-item" href="/logout">
          Logout of <span style="color: var(--primary);">@<%= user.username %></span>
        </a>
        <a class="primary-button menu-item-font" href="/dashboard">Dashboard</a>
        <% } else { %>
          <a class="primary-button menu-item-font" href="/login">Login</a>
      <% } %>
    </div>
  </nav>
  <!-- <% if (user) { %>
    <p>Logged in as <%= user.username %>#<%= user.discriminator %>.</p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a type="button" href="/login">Login</a><br>
  <% } %>
  <% if(user && title === "Home") { %>
    <a type="button" href="/dashboard">Back to dashboard</a><br>
  <% } %>
  <%- title === "Dashboard" ? "" : "<hr>" %> -->
